
@import url('https://fonts.googleapis.com/css2?family=Georama&family=Urbanist:wght@500&display=swap');

.contenedor {

  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  height: 40rem;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;

}



.imagenes{

  width: 100%; /* Asegura que la imagen llene el ancho del contenedor */
  height: 100%; /* Asegura que la imagen llene la altura del contenedor */
  object-fit: cover; /* Cubre el área del contenedor, puede recortar la imagen */
  object-position: center; 
}

.foto1 , .foto2{
  display: flex;
  margin: 1%;
  height: 100%; /* Establece la altura del contenedor */
  overflow: hidden; /* Evita que el contenido se desborde del contenedor */
  display: flex; /* Usa flexbox para centrar la imagen dentro del contenedor */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center;
}

.foto2 {
  display: flex;
  width: 35%; /* Establece el ancho del contenedor */
  height: 100%; /* Establece la altura del contenedor */
  overflow: hidden; /* Evita que el contenido se desborde del contenedor */
  display: flex; /* Usa flexbox para centrar la imagen dentro del contenedor */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center;
}


.fototexto{

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 25%; 
  margin: 1%; 
  height: 100%; 
}

.imagentext {
  object-fit: cover; 
  width: 100%;
  height: 50%; 
}

.texto_cotizacion{
  height: 50%;
  max-height: 50%;
  width: 100%;

  padding-block-start: 0.8rem;
  align-items: center;
  text-align: center;
  display: flex;

}

.texto_cotizacion h1{
  font-family: georama;
  font-size: xx-large;
  text-size-adjust: 100%;
  font-weight: 380;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: start;
  text-decoration: none;
  text-size-adjust: 100%;
}


.texto_cotizacion p{

font-size: medium;
font-family: georama;
color: #000000;
padding: 0%;
font-weight: 350;
margin-top: 0.5rem;
text-align: start;
text-decoration: none;
text-size-adjust: 100%;

}


@media (max-width: 600px) {
  .div-2 {
    display: none; 
  }

  .Textopro{
    text-align: center;
    width: fit-content;
    size: 10%;
  }
  
  .div-1, .div-3 {
    width: 49%; 
  }
}


