.contenedor {

  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  height: 40rem;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;

}

.imagenes{


  width: 100%; /* Asegura que la imagen llene el ancho del contenedor */
  height: 100%; /* Asegura que la imagen llene la altura del contenedor */
  object-fit: cover; /* Cubre el área del contenedor, puede recortar la imagen */
  object-position: center; 
}

.Textopro{

  text-align: start;
  width: fit-content;
  size: 15%;

}

.foto1{

  display: flex;
  margin: 1%;
  width: 60%; /* Establece el ancho del contenedor */
  height: 100%; /* Establece la altura del contenedor */
  overflow: hidden; /* Evita que el contenido se desborde del contenedor */
  display: flex; /* Usa flexbox para centrar la imagen dentro del contenedor */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center;

}

.foto2 {
  display: flex;
  width: 60%; /* Establece el ancho del contenedor */
  height: 100%; /* Establece la altura del contenedor */
  overflow: hidden; /* Evita que el contenido se desborde del contenedor */
  display: flex; /* Usa flexbox para centrar la imagen dentro del contenedor */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center;
}


.fototexto{

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 32%; 
  margin: 1%; 
  height: 100px; 
} 

.imagentext, .Textopro {
  flex-basis: 50%; /* Asigna a cada elemento un 50% del espacio disponible */
  /* Para evitar que la imagen o el texto desborden su contenedor */
  max-width: 50%;
  box-sizing: border-box; /* Incluye el padding y el borde dentro del ancho y la altura del elemento */
}

.imagentext {
  object-fit: cover; /* Asegura que la imagen cubra completamente su área sin distorsionarse */
  height: 100%; /* O establece una altura fija si es necesario */
}

.Textopro {
  /* Si necesitas que el texto esté centrado dentro de su espacio */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Asegura que el texto dentro del h1 esté centrado */
  padding: 0 10px; /* Añade un poco de padding si es necesario */
}

@media (max-width: 600px) {
  .div-2 {
    display: none; 
  }

  .Textopro{
    text-align: center;
    width: fit-content;
    size: 10%;
  }
  
  .div-1, .div-3 {
    width: 49%; 
  }
}


